{% extends "Plantilla.html" %}
{% block body %}
<div class="container-fluid px-4">
    <h1 class="mt-4">Dashboard</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-area me-1"></i>
                    KPI 1
                </div>
                <div class="card-body"><canvas id="promedio_consumo_mensual"></canvas></div>
            </div>   
        </div>
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-area me-1"></i>
                    KPI 2
                </div>
                <div class="card-body"><canvas id="total_consumo"></canvas></div>
            </div>
        </div>
    </div>
    <div class="row">        
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-area me-1"></i>
                    KPI 3
                </div>
                <div class="card-body"><canvas id="estado_lectura"></canvas></div>
            </div>   
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-area me-1"></i>
                    KPI 4
                </div>
                <div class="card-body"><canvas id="total_eventos"></canvas></div>
            </div>  
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-area me-1"></i>
                    KPI 5
                </div>
                <div class="card-body"><canvas id="tipo_socio"></canvas></div>
            </div>    
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-area me-1"></i>
                    KPI 6
                </div>
                <div class="card-body"><canvas id="estado_medidores"></canvas></div>
            </div>            
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-area me-1"></i>
                    KPI 7
                </div>
                <div class="card-body"><canvas id="total_asistente_eventos"></canvas></div>
            </div>            
        </div>
    </div>
</div>
    <script>
        var ctx = document.getElementById('promedio_consumo_mensual').getContext('2d');
       
        // Preparar los datos para Chart.js
        var mes = [];
        var promedios = [];
        let prom = ""
     
        {% for item in consumo_mensual %}
            mes.push("{{ item.mes }} {{ item.anio }}");

            prom = "{{ item.promedio }}";
            prom = prom.replace(",", ".")
            promDecim = Number(prom)

            promedios.push(promDecim);
        {% endfor %}
    
    
        var myChart = new Chart(ctx, {
            type: 'bar', // Tipo de gráfico de barras (pie,line,bar,radar)
            data: {
                title: 'Variación del Consumo Promedio de Agua',
                labels: mes, // Etiquetas del eje X (ACTIVO / INACTIVO)
                datasets: [{
                    label: 'Consumo Promedio',
                    data: promedios,
                    backgroundColor: 'rgba(75, 192, 192, 0.5)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                plugins: {
                    title: {
                        display: true,
                        text: 'Variación del Consumo Promedio de Agua',
                    }
                },
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: 'Consumo promedio de agua'
                        }
                    },
                    x: {
                        title: {
                            display: true,
                            text: 'Mes'
                        }
                    }
                }
            }
        });
    </script>
    <script>
        var ctx = document.getElementById('estado_lectura').getContext('2d');
        
        // Preparar los datos para Chart.js
        var estado = [];
        var cantidad = [];
        
        {% for item in estado_lectura %}
            estado.push("{{ item.estado_lec }}");
            cantidad.push("{{ item.cantidad }}");
        {% endfor %}

        var myChart = new Chart(ctx, {
            type: 'doughnut', // Tipo de gráfico de barras (pie,line,bar,radar)
            data: {
                labels: estado, // Etiquetas del eje X (ACTIVO / INACTIVO)
                datasets: [{
                    label: 'Consumo Promedio',
                    data: cantidad,
                    backgroundColor: ['#36a2eb','#ff6384'],
                    borderColor: ['#36a2eb','#ff6384'],
                    borderWidth: 1
                }]
            },
            options: {
                plugins: {
                    title: {
                        display: true,
                        text: 'Estado de Planillas',
                    }
                },
                responsive: true,
            }
        });
    </script>
    <script>
        var ctx = document.getElementById('total_consumo').getContext('2d');
    
        // Preparar los datos para Chart.js
        var mes = [];
        var total = [];
    
        {% for item in total_consumos %}
            mes.push("{{ item.mes }}");
            total.push(Number({{ item.total_consumos }}));
        {% endfor %}

        var myChart = new Chart(ctx, {
            type: 'line', // Tipo de gráfico de barras (pie,line,bar,radar)
            data: {
                title: 'Consumo Mesual de Agua',
                labels: mes, // Etiquetas del eje X (ACTIVO / INACTIVO)
                datasets: [{
                    label: 'Consumo de Agua',
                    data: total,
                    backgroundColor: '#4bc0c0',
                    borderColor: '#4bc0c0',
                    borderWidth: 1
                }]
            },
            options: {
                plugins: {
                    title: {
                        display: true,
                        text: 'Consumo Mesual de Agua',
                    }
                },
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: 'Consumo total de agua por mes'
                        }
                    },
                    x: {
                        title: {
                            display: true,
                            text: 'Estado'
                        }
                    }
                }
            }
        });
    </script>
    <script>
        var ctx = document.getElementById('total_eventos').getContext('2d');
    
        // Preparar los datos para Chart.js
        var nombre = [];
        var total = [];
    
        {% for item in total_eventos_tipo %}
            nombre.push("{{ item.nombre_te }}");
            total.push({{ item.NumeroEventos }});
        {% endfor %}

        var myChart = new Chart(ctx, {
            type: 'pie', // Tipo de gráfico de barras (pie,line,bar,radar)
            data: {
                title: 'Consumo de Agua Mesual',
                labels: nombre, // Etiquetas del eje X (ACTIVO / INACTIVO)
                datasets: [{
                    label: 'Consumo de Agua Mesual',
                    data: total,
                    backgroundColor: ['#4bc0c0', '#f1c40f', '#4CAF50'],
                    borderColor: ['#4bc0c0', '#f1c40f', '#4CAF50'],
                    borderWidth: 1
                }]
            },
            options: {
                plugins: {
                    title: {
                        display: true,
                        text: 'Consumo de Agua Mesual',
                    }
                },
                responsive: true,
            }
        });
    </script>
    <script>
        var ctx = document.getElementById('tipo_socio').getContext('2d');
    
        // Preparar los datos para Chart.js
        var nombre = [];
        var total = [];
    
        {% for item in total_socios_tipo %}
            nombre.push("{{ item.tipo_soc }}");
            total.push({{ item.Tipo }});
        {% endfor %}

        var myChart = new Chart(ctx, {
            type: 'doughnut', // Tipo de gráfico de barras (pie,line,bar,radar)
            data: {
                title: 'Consumo de Agua Mesual',
                labels: nombre, // Etiquetas del eje X (ACTIVO / INACTIVO)
                datasets: [{
                    label: 'Consumo de Agua Mesual',
                    data: total,
                    backgroundColor: ['#4bc0c0', '#f1c40f', '#4CAF50'],
                    borderColor: ['#4bc0c0', '#f1c40f', '#4CAF50'],
                    borderWidth: 1
                }]
            },
            options: {
                plugins: {
                    title: {
                        display: true,
                        text: 'Tipo de Socio',
                    }
                },
                responsive: true,
            }
        });
    </script>
    <script>
        var ctx = document.getElementById('estado_medidores').getContext('2d');
    
        // Preparar los datos para Chart.js
        var uso = [];
        var desuso = [];
    
        {% for item in porcentaje_medidores_uso %}
            uso.push({{ item.medidores_en_uso }});
            desuso.push({{ item.medidores_inactivos }});
        {% endfor %}

        var myChart = new Chart(ctx, {
            type: 'bar', // Tipo de gráfico de barras (pie,line,bar,radar)
            data: {
                title: 'Consumo de Agua Mesual',
                labels: ['Estado'], 
                datasets: [{
                    label: 'En uso',
                    data: uso,
                    backgroundColor: '#4bc0c0',
                    borderColor: '#4bc0c0',
                    borderWidth: 1
                },
                {
                    label: 'Desuso',
                    data: desuso,
                    backgroundColor: '#f1c40f',
                    borderColor: '#f1c40f',
                    borderWidth: 1
                }]
            },
            
            options: {
                plugins: {
                    title: {
                        display: true,
                        text: 'Tipo de Socio',
                    }
                },
                responsive: true,
                interaction: {
                  intersect: false,
                },
                scales: {
                  x: {
                    stacked: true,
                  },
                  y: {
                    stacked: true
                  }
                }
            }
        });
    </script>
    <script>
        var ctx = document.getElementById('total_asistente_eventos').getContext('2d');
    
        // Preparar los datos para Chart.js
        var nombre = [];
        var socios = [];
        var fecha = [];
    
        {% for item in total_asistente_eventos %}
            nombre.push('{{ item.nombre_te }}');
            socios.push({{ item.TotalSocios }});
            fecha.push('{{ item.fecha }}');
        {% endfor %}    
    
        var myChart = new Chart(ctx, {
            type: 'bar', // Tipo de gráfico de barras
            data: {
                title: 'Consumo de Agua Mensual',
                labels: nombre, 
                datasets: [{
                    label: ['Asistencia a Eventos'],
                    data: socios,
                    backgroundColor: ['#FF5733', '#33FF57', '#3357FF', '#FF33A1', '#FFD433', '#33FFD4'], // Se asegura de que el número de colores coincida con el número de barras
                    borderColor: ['#FF5733', '#33FF57', '#3357FF', '#FF33A1', '#FFD433', '#33FFD4'], // Igual para los bordes
                    borderWidth: 1
                }]
            },
            
            options: {
                plugins: {
                    title: {
                        display: true,
                        text: 'Tipo de Socio',
                    }
                },
                responsive: true,
                scales: {
                    x: {
                        stacked: true,
                    },
                    y: {
                        stacked: true
                    }
                }
            }
        });
    </script>
    
{% endblock  %}